html, body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.background-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1000;
    top: 0;
    left 0;
}
.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.main-content {
    text-align: center;
    color: #fff;
}

.title {
    font-size: 84px;
}

#video-bg-elem {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.full-height {
    height: 45vh;
}

.content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
}

c {
  color: #636b6f;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
